/*html{
        font-family: Helvetica Neue;
}
*/
body{
    background-color: #c9ddfc;
    background-image: url("https://slack-imgs.com/?c=1&url=http%3A%2F%2Fwww.uidownload.com%2Ffiles%2F279%2F289%2F69%2Fdynamic-background.jpg");
    background-repeat: no-repeat;
    background-size: 2000px;
}

/*body{
   font-family: ‘Nunito’;
}*/

h2{
   font-size: 18px;
   padding: 10px 20px;
/*   color: #575ed8;*/
}

#chat-container {
    height: auto;
}

#twitterTROLL-chat{
   max-width: 100%;
   margin: 30px auto;
   border: 1px solid #ddd;
   box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
   border-radius: 2px;
}

#chat-window {
   /* min-height: 128px; */
   height: 240px;
   overflow: auto;
   background: rgb(249, 249, 249);
}

#output p{
   padding: 14px 0px;
   margin: 0 20px;
   border-bottom: 1px solid #e9e9e9;
   color: #555;
}

#feedback p{
   color: #aaa;
   padding: 14px 0px;
   margin: 0 20px;
}

#output strong{
   color: #575ed8;
}

label{
   box-sizing: border-box;
   display: block;
   padding: 10px 20px;
}

input{
   padding: 10px 20px;
   box-sizing: border-box;
   background: #eee;
   border: 0;
   display: block;
   width: 100%;
   background: #fff;
   border-bottom: 1px solid #eee;
/*   font-family: Nunito;*/
   font-size: 16px;
}

button{
   background: #575ed8;
   color: #fff;
   color:  cyan;
   font-size: 18px;
   border: 0;
   padding: 12px 0;
   width: 100%;
   border-radius: 0 0 2px 2px;
}

#tweet{
   font-size:20px;
}